@import '../../styles/utils';

.filter {
  display: flex;
  gap: 30px;

  &__search {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__label {
    color: $lime;
    font-size: 18px;
  }

  &__input {
    width: 100%;
    min-height: 60px;
    background-color: $light-dark;
    border: 1px solid $light-dark;
    border-radius: 8px;
    padding: 0 20px;
    font-size: 18px;
    color: $white;
  }

  &__date {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &--container {
      display: flex;
      gap: 10px;
    }
  }
}